<!DOCTYPE html>
<html>
<head>
	<title>我的OI博客 | 板子</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
	<ul class="navbar">
		<li><a href="../">首页</a></li>
		<li><a href="../template/">板子</a></li>
		<li><a href="../posts/">题解与文章</a></li>
		<li><a href="../about.html">关于...</a></li>
	</ul>
	<div class="hero">
		<h1>板子代码一定要理解过程啊!不要死记硬背!</h1>
		<div class="card-grid">
			<a href="dijkstra.html">
				<div class="card">
					<div class="label">图论 - 最短路</div>
					<h3>Dijkstra</h3>
					<p class="math">
						一种非常好用的最短路算法，普通时间复杂度O(n<sub>2</sub>)，堆优化O(nlogn)
					</p>
				</div>
			</a>
		</div>
	</div>
	<footer>© 2026 HeRuibo123456</footer>
</body>
</html>
