* {
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #13162B;
    color: #ffffff;
    margin: 0;
}

h1 {
    font-size: 50px;
    color: #FFFFFF;
}

h2 {
    font-size: 40px;
    color: #F0F2F8;
}

h3 {
    font-size: 30px;
    color: #E2E6EF;
}

p {
    font-size: 20px;
    color:  #C8CED9;
}

footer {
    color: #8B94A3;
}

pre, code {
    background-color: #1E1E1E;
    color: #D4D4D4;
    font-family: "Consolas";
}

a {
    text-decoration: none;
}

.navbar {
    list-style-type: none;
    display: flex;
    gap: 60px;
    background-color: #313659;
    border-radius: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
}

.navbar a {
    text-decoration: none;
    font-size: 20px;
    color: #E2E6EF;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar a:hover {
    color: #46CBFF;
    background-color: rgba(70, 203, 255, 0.12);
}

.navbar li:last-child {
    margin-left: auto;
}

.hero {
    padding: 30px;
}

.hero * {
    margin-bottom: 7px;
}
